{% extends "network/layout.html" %}

{% block body %}
    {% for post in page_obj %}
    <div id="{{ post.id }}" class="post-container">
        <a class="nav-link active" id="user-profile" href="/profile/{{ post.user }}">{{ post.user }}</a>
        <p class="post-timestamp">{{ post.timestamp }}</p>
        <p class="post-body">{{ post.body }}</p>
        <p id="post-likes" class="post-likes">{{ post.likes.count }}</p>
        <button type="button" class="btn btn-primary btn-sm unlike-post-button">Unlike</button>  
        <button type="button" class="btn btn-primary btn-sm like-post-button">Like</button>        
    </div>
    {% endfor %}
    <ul class="pagination">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
    </ul>
{% endblock %}