{% extends "network/layout.html" %}

{% block body %}
   {% if user.is_authenticated %}
   <div class="button-container" id="new-post">
    <button type="button" class="btn btn-primary" id="new-post-button">New Post</button>
   </div>
    <form action="{% url 'new_post' %}" method="post" id="new-post-form" class="mb-3">
        {% csrf_token %}
        <label for="post-content" class="form-label">New Post</label>
        <textarea class="form-control" id="post-content" name="body" placeholder="Tell us what's on your mind..." rows="3"></textarea>
        <input class="btn btn-primary" type="submit" value="Create Post">
        <button type="button" id="close-button" class="btn btn-primary" >Close</button>
    </form>
    {% endif %}

    {% for post in page_obj %}
        <div id="{{ post.id }}" class="post-container">
            <a class="nav-link active user-profile" href="/profile/{{ post.user }}">{{ post.user }}</a>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            {% if post.user == current_user %}
                <div class="button-container" id="button-container{{ post.id }}"></div>
            {% endif %}
            <p id="post-body" class="post-body">{{ post.body }}</p>
            <p id="post-likes" class="post-likes">{{ post.likes.count }}</p>
            <div class="empty-button-container"></div>
            <button type="button" class="btn btn-primary btn-sm unlike-post-button">Unlike</button>  
            <button type="button" class="btn btn-primary btn-sm like-post-button">Like</button>        

            </div>
    {% endfor %}

    <ul class="pagination">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
    </ul>
{% endblock %}

