{% extends "network/layout.html" %}

{% block body %}
   {% if user.is_authenticated %}
    <form action="{% url 'new_post' %}" method="post" id="new-post-form" class="mb-3">
        {% csrf_token %}
        <label for="post-content" class="form-label">New Post</label>
        <input class="btn btn-primary btn-sm" id="close-button" type="button" value="X">
        <textarea class="form-control" id="post-content" name="body" placeholder="Tell us what's on your mind..." rows="3"></textarea>
        <input class="btn btn-primary" type="submit" value="Create Post">
    </form>
    {% endif %}


    {% for post in posts %}
        <div id="{{ post.id }}" class="post-container">
            <a class="nav-link active" id="user-profile" href="/profile/{{ post.user }}">{{ post.user }}</a>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            <p id="post-{{ forloop.counter }}" class="post-body">{{ post.body }}</p>
            <p class="post-likes">{{ post.likes.count }}</p>
            {% if post.user == current_user %}
                <div class="button-container" id="button-container{{ post.id }}"></div>
                <input type="hidden" id="post-body-id" value="post-{{  forloop.counter }}"> 
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

