{% extends "network/layout.html" %}
{% load static %}

{% block body %}
   {% if user.is_authenticated %}
   <div class="button-container" id="new-post">
    <button type="button" class="btn btn-primary" id="new-post-button">New Post</button>
   </div>
    <form action="{% url 'new_post' %}" method="post" id="new-post-form" class="mb-3">
        {% csrf_token %}
        <label for="post-content" class="form-label">New Post</label>
        <textarea class="form-control" autofocus id="post-content" name="body" placeholder="Tell us what's on your mind..." rows="3"></textarea>
        <input class="btn btn-primary" type="submit" value="Create Post">
        <button type="button" id="close-button" class="btn btn-primary" >Close</button>
    </form>
    {% endif %}

    {% for post in page_obj %}
        <div id="{{ post.id }}" class="post-container">
            <div class="post-header">
                <div class="user-header">
                    <strong class="post-username">{{ post.user }}</strong>
                <a class="nav-link active user-profile" href="/profile/{{ post.user }}">@{{ post.user }}</a>
                </div>
                {% if post.user == current_user %}
                        <div class="button-container" id="button-container{{ post.id }}"></div>
                    {% endif %} 
            </div>
            <p id="post-body" class="post-body">{{ post.body }}   
            </p>
            <p id="post-likes" class="post-likes">{{ post.likes.count }} Likes</p>
            <p class="post-timestamp">{{ post.timestamp }}</p>
            <div class="button-container">
                <div class="individual-button">
                    <button class="unlike-post-button">
                        <img class="icon" src="{% static 'network/unlike.png' %}">
                    </button> 
                </div>
                <div class="individual-button">
                    <button type="button" class="like-post-button">
                        <img class="icon" src="{% static 'network/like.png' %}">
                    </button>
                </div>                 
             </div>
        </div>
    {% endfor %}

    <ul class="pagination">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
    </ul>
{% endblock %}

